.heading {
	width: 50%;
	margin: 30px auto;
	text-align: center;
	color: yellow;
	background: #14424b;
	border: 2px solid yellow;
	border-radius: 20px;
}

form {
	width: 50%;
	margin: 30px auto;
	border-radius: 5px;
	padding: 10px;
	background: #14424b;
	border: 1px solid yellow;
}

form p {
	color: red;
	margin: 0px;
}

.task_input {
	width: 75%;
	height: 15px;
	padding: 10px;
	border: 2px solid yellow;
}

.add_btn {
	height: 39px;
	background: #14424b;
	color: yellow;
	border: 2px solid yellow;
	border-radius: 5px;
	padding: 5px 20px;
}

table {
	width: 50%;
	margin: 30px auto;
	border-collapse: collapse;
}

tr {
	border-bottom: 1px solid #cbcbcb;
}

th {
	font-size: 19px;
	color: #6B8E23;
}

th,
td {
	border: none;
	height: 30px;
	padding: 2px;
}

tr:hover {
	background: #E9E9E9;
}

.task {
	text-align: center;
}

.delete {
	text-align: center;
}

.delete a {
	color: white;
	background: #a52a2a;
	padding: 1px 6px;
	border-radius: 3px;
	text-decoration: none;
}